body {
  font-family: sans-serif;
  margin: 0;
  background-color: #F6F6F6;
  overflow-x: hidden;
}

.header {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header img {
  width: 15px;
  height: 19px;
}

.header a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.header a:hover {
  font-size: 18px;
}

.iphone-air p {
  text-align: center;
  color: #6D8092;
  font-size: 18px;
}

.iphone-air h1 {
  text-align: center;
  color: #6D8092;
  font-size: 36px;
  margin: 50px 0px 50px 0px;
}

h1 span {
  color: #4D5C67;
}

.iphone-air img {
  width: 863px;
  height: 103px;
  display: block;
  margin: 0 auto;
}

.future {
  background-color: #fff;
}

.future p {
  text-align: center;
  color: #6D8092;
  font-size: 18px;
}

.future h1 {
  text-align: center;
  color: #6D8092;
  font-size: 36px;
  padding: 50px 0px 50px 0px;
}

.camera {
  text-align: center;
}

.camera-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.camera-phone img {
  width: 260px;
  padding-left: 1000px;
}

.camera-info p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

.camera-info span {
  font-size: 22px;
}

.power {
  text-align: center;
  padding: 70px 20px;
  background: #fff;
  color: #6D8092;
}

.power p {
  font-size: 18px;
}

.power h2 {
  font-size: 30px;
  margin-bottom: 35px;
  color: #2f3a59;
}

.power img {
  width: 631px;
  height: 322px;
  display: block;
  margin: 0 auto;
}

.power-specs {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.spec {
  text-align: center;
}

.spec-title {
  font-size: 18px;
  color: #777;
}

.spec strong {
  display: block;
  margin-top: 4px;
  font-size: 18px;
}

.power-text {
  max-width: 650px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

.chip-img {
  background: url(https://files.catbox.moe/6pqnq8.png)
    no-repeat center center / cover;
  padding: 500px;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ddd;
    background-color: #F3F3F3;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #666;
    transition: 0.5s;
}

footer a:hover {
    color: black;
}


